<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6" style="padding-left:5px; padding-right:5px;"> <br>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Secuencia Musical:</h3>
    </div>
    <div class="panel-body">
      <div style="text-align: center; font-size: 4em;">
        <span class="glyphicon glyphicon-user"></span>
      </div>
      <p>
        <button id='DO' type="button" class="btn btn-lg btn-default">DO</button>
        <button id='RE' type="button" class="btn btn-lg btn-primary">RE</button>
        <button id='MI' type="button" class="btn btn-lg btn-success">MI</button>
        <button id='FA' type="button" class="btn btn-lg btn-info">FA</button>
        <button id='SOL' type="button" class="btn btn-lg btn-warning">SOL</button>
        <button id='LA' type="button" class="btn btn-lg btn-danger">LA</button>
        <button id='SI' type="button" class="btn btn-lg btn-default">SI</button>
      </p>
  </div>
</div>

<script>


$(document).ready(function() {
    var audioElement = document.createElement('audio');
    //audioElement.setAttribute('src', 'audioNoteDo.mp3');
    //audioElement.setAttribute('autoplay', 'autoplay');
    //audioElement.load()

    $('#DO').click(function(){
      audioElement = document.createElement('audio');
      audioElement.setAttribute('src','DO.mp3');
      audioElement.setAttribute('autoplay','autoplay');
      audioElement.play();
    }
    $('#RE').click(function(){
      audioElement = document.createElement('audio');
      audioElement.setAttribute('src','RE.mp3');
      audioElement.setAttribute('autoplay','autoplay');
      audioElement.play();
    }
    $('#MI').click(function(){
      audioElement = document.createElement('audio');
      audioElement.setAttribute('src','MI.mp3');
      audioElement.setAttribute('autoplay','autoplay');
      audioElement.play();
    }
    $('#FA').click(function(){
      audioElement = document.createElement('audio');
      audioElement.setAttribute('src','FA.mp3');
      audioElement.setAttribute('autoplay','autoplay');
      audioElement.play();
    }
    $('#SOL').click(function(){
      audioElement = document.createElement('audio');
      audioElement.setAttribute('src','SO.mp3');
      audioElement.setAttribute('autoplay','autoplay');
      audioElement.play();
    }
    $('#LA').click(function(){
      audioElement = document.createElement('audio');
      audioElement.setAttribute('src','LA.mp3');
      audioElement.setAttribute('autoplay','autoplay');
      audioElement.play();
    }
    $('#SI').click(function(){
      audioElement = document.createElement('audio');
      audioElement.setAttribute('src','SI.mp3');
      audioElement.setAttribute('autoplay','autoplay');
      audioElement.play();
    }

    $.get();
/*
    audioElement.addEventListener("load", function() {
        audioElement.play();
    }, true);

    $('.play').click(function() {
        audioElement.play();
    });

    $('.pause').click(function() {
        audioElement.pause();
    });*/
});

</script>
{jquery}
